apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-svc" (include "vllm.fullname" .) | trunc 63 | trimSuffix "-" }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      protocol: TCP
      targetPort: {{ .Values.service.targetPort }}
  selector:
    app: {{ include "vllm.appLabel" . }}
  sessionAffinity: None
